// Global Rules

.sc-catalog-wrap {

	.sc-catalog-item-description {
		display:block;
		clear:both;
	}

	.item-image, .item-details {
		margin-bottom: 1em;
	}

	.item-image {
		img {
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}

	.sc-catalog-price {
		font-size:1.2em;

		span { display:inline-block; }

		del {
			margin-right: 0.5em
		}
		ins {
			font-size:1.4em;
			background:none;
		}
	}

	.sc-catalog-sku {
		font-size:0.9em;
	}

	.sc-catalog-reg-price {
		color:#33B26E;
		&.strike {
			color:inherit;
			text-decoration: line-through;
		}
	}

	.sc-catalog-sale-price {
		color:#F46353;
	}

}