/** Showcase Catalog Styles */

.single-sc-catalog {

	.sc-catalog-wrap {

		.nc-item-description {
			display:block;
			clear:both;
		}

		.item-image, .item-details {
			margin-bottom: 1em;
		}

	}

}

@media screen and ( min-width: 768px ) {

	.single-sc-catalog {
		
		.sc-catalog-wrap {

			.item-image, .item-details {
				width: 48%;
			}

			.item-image {
				float:left;
				margin-right: 2%;
			}

			.item-details {
				float:left;
			}

		}
	}

}